<navbar>
    <div class="sid-nav" id="sidebar">
        <div class="side-nav-links">
            <a href="/">Home</a>
            <a href="/blogs">Blogs</a>
            <a href="/new">Your Blog</a>
            <a href="/about">About</a>
            <a href="/contact">Contact Us</a>
        </div>
    </div>
    <div class="navbar-container">
        <div class="nav-brand">
            <a href="/"><h2><b>EngiGenius</b></h2></a>
        </div>
        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/blogs">Blogs</a>
            <a href="/new">Your Blog</a>
            <a href="/about">About</a>
            <a href="/contact">Contact Us</a>
        </div>
        <div class="toggle" id="toggle-btn">
            <i class="fa-solid fa-bars"></i>
        </div>
    </div>
</navbar>
