<% layout("/layouts/boilerplate")%>
<body>
    <div class = "about-authors">
        <h3><b>Authors</b></h3>
        <hr>
        <div class="author-content">
            <div class = "author-cards">
                <img src="images/gig.jpg" alt="author-img" class = "author-img">
                <h5 class = "author-name mt-3">Krishna Muskawad</h5>
                <p class = "author-bio">Web Developer | Full Stack</p>
                <div class = "icons">
                    <a href="https://www.linkedin.com/in/krishna-muskawad"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="https://github.com/KrishnaM0"><i class="fa-brands fa-github"></i></a>
                    <a href="https://wa.me/919699002107"><i class="fa-brands fa-whatsapp"></i></a>
                    <a href="https://www.instagram.com/krishna_muskawad/"><i class="fa-brands fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
    <br><br><br>
</body>
